debug: true

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  stream : logs

app_name: ESLogIndexer

max_records: 200

elastic_search:
  host: 5ef1fe1be448f837d91a38960abf6c0a.us-east-1.aws.found.io
  cluster: 5ef1fe1be448f837d91a38960abf6c0a
  api_key: 81222e33460b425be887e3fb8d0521b6
  http_port: 9243
  tcp_port: 9343
  nodes_sampler_interval: 30s
  ping_timeout: 30s
  index_prefix: sense-logs-
  fallback_index: sense-logs-fallback
  fw_crash_index: sense-logs-fw-crash
  max_bulk_actions: 50  # execute bulk every ...
  max_bulk_size_mb: 200  # flush bulk every ...
  bulk_concurrent_requests: 0
  bulk_await_close_seconds: 15

logging:
  level: INFO
  loggers:
    com.hello.suripu.logsindexer: DEBUG
  appenders:
     - type: console

metrics_enabled: false

graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - com.hello

